html {
  background-image:
    url('https://www.freepnglogos.com/uploads/corn-png/corn-the-best-mexican-fresh-produce-for-global-exports-5.png'),
    url('https://www.freepnglogos.com/uploads/food-png/high-resolution-food-clipart-collection-19.png'),
    url('https://www.freepnglogos.com/uploads/fruits-png/fruits-vegetables-artichoke-vector-graphic-pixabay-35.png'),
    url('https://www.freepnglogos.com/uploads/food-png/food-png-transparent-images-png-only-28.png');
  background-repeat: repeat-x;
  background-position:
    0% 15%,
    0% 40%,
    0% 65%,
    0% 85%;
  background-size:
    250px,
    250px,
    250px,
    250px;
  animation: 25s para infinite linear;
}

@keyframes para {
  0% {
    background-position:
      0% 15%,
      0% 40%,
      0% 65%,
      0% 85%;
  }

  100% {
    background-position:
      100% 15%,
      -100% 40%,
      100% 65%,
      -100% 85%;
  }
}

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  background: url(icons/boite-de-conserve.png) no-repeat 0%, url(icons/boite-de-conserve.png) no-repeat 100%;
  background-size: 50px, 50px;
  padding-right: 50px;
  padding-left: 50px;
}

h1, h2 {
  font-family: 'Cherry Swash', cursive;
}

.legumes {
  background: rgb(25, 80, 4) url(icons/vegetable.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.viande {
  background: rgb(82, 143, 82) url(icons/meat.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.soupe {
  background: rgb(26, 126, 48) url(icons/soup.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

/* Pour les Mobiles */
@media screen and (max-width: 1000px) {

  form {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 675px) {
  
  html {
    background-image: none;
  }

}

/*************************************************************************************************************/